<div class="content-wrapper">
  <aside class="side-bar">
    <nav>
      @for (item of menuItems; track $index) {
      <section class="menu__container" [routerLink]="item.route" [routerLinkActive]="['menu__item--active']">
        <div class="menu__circle">
          <mat-icon class="menu__icon">{{item.icon}}</mat-icon>
        </div>
        <span class="menu__title">{{item.name}}</span>
      </section>
      }
    </nav>
  </aside>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>