.content-wrapper {
  display: flex;
}

.side-bar {
  background-color: #00538A;
  width: 15%;
  height: 100vh;
}

nav {
  padding-top: 20px;
}

.menu__container {
  display: flex;
  align-items: center;
  padding: 4px 0px 4px 4px;
  margin: 4px 0;
  background-color: #003457;
  color: #fff;
  cursor: pointer;
}

.menu__container:hover {
  background-color: #0689DF;
}

.menu__item--active {
  background-color: #0689DF;
}

.menu__icon {
  padding-right: 12px;
}

.main-content {
  width: 85%;
  box-sizing: border-box;
}